.location {
    background-image: linear-gradient(to top, #863535, #ff6060);
    display: grid;
    border-radius: 0.5rem;
    flex-basis: 26%;
    align-items: end;
    min-height: 300px;

    @media screen and (width <= 768px) {
        flex-basis: 100%;
        
    }
}
.apartment_subtitle {
    width: 50%;
    min-width: 200px;
    margin-inline-start: 0.5rem;
    margin-inline-end: 0.5rem;
    color: white;
}