.header {
    display: flex;
    align-items: center;
    padding: 2rem;
    color: #ff6060; 
    font-weight: 400;
    gap: 2rem;

    & > *:first-child {
        margin-right: auto;
      }
  
   & a {
      text-decoration: none;
      color: black;
  
      &:hover, &:active {
        text-decoration: underline;
      }
    }
  }

