.header {
  display: flex;
  align-items: center;
  padding: 2rem 3rem 0rem 3rem;
  color: #ff6060;
  font-weight: 400;
  gap: 2rem;

  @media screen and (max-width: 768px) {
    text-transform: uppercase;
    font-weight: 400;
  }

  & > *:first-child {
    margin-right: auto;
  }

  & a {
    text-decoration: none;
    color: #ff6060;

    &:hover,
    &:active {
      text-decoration: underline;
    }
  }

  .logo {
    img {
      width: 100%;
      max-width: 145px; // Ajustez cette valeur selon vos besoins
    }
  }

  @media screen and (max-width: 768px) {
    .logo img {
      max-width: 100px; // Taille réduite pour les mobiles
    }
  }
}
